.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 900px;
    max-height: 90vh; /* Evita que el modal sea demasiado alto */
    overflow-y: auto; /* Permite scroll si es necesario */
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--primary-color);
    flex: 1;
    text-align: center;
}

.modal-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 15px 0;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%; /* Mantiene todas las tarjetas con la misma altura */
}

.proyecto img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.proyecto h3 {
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
}

.proyecto p {
    color: #666;
    line-height: 1.5;
    flex-grow: 1; /* Hace que el contenido crezca y empuje el botón hacia abajo */
}

.proyecto .btn {
    background-color: #b2e0b2;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto; /* Asegura que todos los botones estén en la misma posición */
    text-decoration: none;
}


.proyecto .btn:hover {
    background-color: #7ccf7b;
}

.close {
    cursor: pointer;
    font-size: 30px;
    color: #aaa;
}

.close:hover {
    color: black;
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 95%;
        max-height: 85vh;
    }

    .modal-body {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
